

.contact-container{
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 100%);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.contact-label{
    display: block;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}

.textarea-container{
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    width: 100%;
}

.contact-input{
    all: unset;
    background-color: rgb(189, 189, 189);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid darkgray;
    margin-left: 5%;
    text-align: left;
    width: 80%;
}

.contact-input:hover{
    cursor:text;
    background-color: rgb(148, 148, 148);
}

.contact-input:active{
    background-color: rgb(104, 104, 104);
}

.contact-input:focus{
    background-color: rgb(104, 104, 104);
}

.message-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 64%;
    width: 100%;
}

.contact-form{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    height: 80vh;
    width: 50vw;
}

.contact-h2{
    
    height: 3%;
    margin-left: 20px;
    text-align: left;
    width: 100%;
}

.contact-textarea{
    all: unset;
    background-color:rgb(153, 153, 153);
    border-bottom: 1px solid rgb(78, 78, 78);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 80%;
    text-align: left;
    width: 80%;
}

.contact-textarea:focus{
    background: rgb(119, 119, 119);
}

.contact-submit-button-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 10%;
    width: 100%;
}

.contact-form-submit-bottom{
    all: unset;
    background-color: rgb(175, 175, 175);
    border-radius: 15px;
    margin-right: 10px;
    width: 70px;
}

.contact-form-submit-bottom:hover{
    background-color: rgb(134, 134, 134);
    cursor: pointer;
}

.contact-form-submit-bottom:active{
    background-color: rgb(92, 92, 92);
}

.err-message{

    color: red;
    display: none;
    margin: 0;
    text-align: left;
    width: 65%;
}