
.about-us-content-section{

    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,.5),rgba(0,0,0,0) 100%);
}

.about-us-content-h2{
    height: 10%;
    text-align: left;
    width: 100%;
}

.about-us-paragraph{
    font-size: large;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
    width: 95%;
}

.content-wrapper{

    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    width: 95%;
}
